.w-dyn-item .blog-card {
  width: 100%;
  object-fit: cover;
  margin-top: -9.2%;
  margin-bottom: -9.7%;
}
.w-dyn-item .mask img {
  transition: all 500ms ease-in-out;
}
.w-dyn-item:hover .mask img {
  transform: scale3d(1.05, 1.05, 1);
  transform-style: preserve-3d;
}

@keyframes anim-zoom-in-out {
  0%, 100% {
    padding-left: 0.1em;
  }
  50% {
    padding-left: 1em;
  }
}
@keyframes anim-shape02 {
  0%, 100% {
    transform: translateX(0) translateY(0) rotate(0);
  }
  25% {
    transform: translateX(0.5em) translateY(0.17em) rotate(2deg);
  }
  50% {
    transform: translateX(-0.5em) translateY(-0.7em) rotate(2deg);
  }
}
@keyframes anim-shape03 {
  0%, 100% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}
@keyframes anim-coin01 {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  10% {
    transform: translateX(0.5em) translateY(-0.25em);
  }
  20% {
    transform: translateX(0) translateY(0);
  }
  30% {
    transform: translateX(-0.25em) translateY(-0.5em);
  }
  40% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-0.25em) translateY(0.5em);
  }
  60% {
    transform: translateX(0) translateY(0);
  }
  70% {
    transform: translateX(0.5em) translateY(0.5em);
  }
  80% {
    transform: translateX(0) translateY(0);
  }
  90% {
    transform: translateX(-0.5em) translateY(0.25em);
  }
}
@keyframes anim-coin02 {
  0%, 100% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(-5deg) scale(0.8);
  }
}
.button-primary {
  background-color: #AB00BE;
}
.button-primary:hover {
  background-color: #7d008b;
}

.button-secondary:hover {
  background-color: #7d008b;
}

@media screen and (max-width: 1000px) {
  .header-wrapper {
    display: block;
  }
  .header-wrapper .split-content.header-right {
    text-align: center;
  }
  .header-wrapper .nav-menu.w-nav-menu {
    padding-top: 1em;
    padding-bottom: 0;
  }
  .header-wrapper .nav-menu.w-nav-menu .header-navigation {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer.footer {
    text-align: center;
  }
  footer.footer .social-links-wrapper {
    justify-content: center;
  }
}
[class^=parallax-],
[class*=" parallax-"] {
  z-index: 1000;
}

.parallax-pc2 {
  position: fixed;
  top: 50vh;
  left: 100vw;
  height: 50vh;
}

img,
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

@media screen and (max-width: 1000px) {
  .hidden-in-mobile {
    display: none !important;
  }
}

::selection {
  background: #140016;
  color: white;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #140016;
  color: white;
  /* Gecko Browsers */
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #AB00BE;
}
@media screen and (max-width: 800px) {
  *::-webkit-scrollbar {
    width: 5px;
  }
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: lightgrey;
  margin-top: -3px;
  margin-bottom: -3px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #AB00BE;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}

html,
body.jason-plays {
  height: unset !important;
  overflow: unset !important;
  font-family: "Poppins", sans-serif;
}

.footer-grid {
  display: grid;
}

/*# sourceMappingURL=main.css.map */
