<div class="section">
    <div class="container-default w-container">
        <div class="tabs">
            {{#each leaderboards as | board |}}
            <div class="tab-item">
                {{board.name}}
            </div>
            {{/each}}
        </div>
        <div class="tab-content">
        </div>
    </div>
</div>